<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <display-name>elearning-webui</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
    <servlet>
        <servlet-name>add-student</servlet-name>
        <servlet-class>com.groupeisi.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add-student</servlet-name>
        <url-pattern>/add-student</url-pattern>
    </servlet-mapping>
    -->
</web-app>